@charset "utf-8";

*{margin: 0;padding: 0;user-select: none;}
body{display: block; width: 100%; height: 100vh;}
.wrap{display: flex; flex-wrap: wrap; width: 100%; height: 100%;}
header{width: 100%;height: 8%; background: #cfcfcf;}
main{width: 80%;height: 100%;background: #000; position: relative;}
.slick-slide{height: 100vh;}
section{width: 100%;height: 100%;}
aside{width: 20%;height: 100%;background: antiquewhite;}
footer{width: 100%;height: 12%;background: darksalmon;}
.slick-arrow{position: absolute;top: 50%; z-index: 199; width: 60px; height: 60px; border-radius: 50%; border: none; cursor: pointer;}
.slick-prev{left: 0;}
.slick-next{right: 0;}